// header styles
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: $white;
  z-index: 10;
  font-family: $fontHeading;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0 14px 0;
    border-bottom: 1px solid rgba($white, .4);
    position: relative;
  }

  &-contact {
    font-size: 20px;
    line-height: 1.2em;

    @include d(1199) {
      font-size: 16px;
    }

    @include d(575) {
      display: none;
    }

    p,
    a {
      line-height: 1.2em;
    }
  }
}

.logo {
  max-width: 430px;

  @include d(1199) {
    max-width: 320px;
  }

  @include d(991) {
    max-width: 240px;
    padding-left: 15px;
  }
}

.menu {
  &-btn {
    font-size: 18px;
    line-height: 1.22em;
    color: $white;
    background-color: transparent;
    text-transform: uppercase;
    border: none;
    position: relative;
    z-index: 100;
    padding: 0;
    cursor: pointer;

    &.active {
      color: $black;
    }

    @include d(1199) {
      font-size: 16px;
    }
  }
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $white;
  padding-top: 100px;
  padding-bottom: 40px;
  width: 100vw;
  height: 100vh;
  color: $black;
  opacity: 0;
  // z-index: -1;
  pointer-events: none;
  transition: opacity $hover-duration $timing;


  @include d(991) {
    padding-top: 60px;
  }

  &.open {
    opacity: 1;
    pointer-events: initial;

    // z-index: 10;
    .nav-list__item {
      pointer-events: initial;
    }
  }

  &-list {
    border-right: 1px solid $black;
    padding-right: 80px;
    max-width: 510px;
    position: relative;

    @include d(1199) {
      padding-right: 40px;
      max-width: 370px;
    }

    @include d(767) {
      max-width: 100%;
      border-right: 0;
      height: 80vh;
      overflow-y: auto;
      overflow-x: hidden;

      //style default scrollbar
      &::-webkit-scrollbar {
        width: 4px;
        background-color: $white;
      }

      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 4px $white;
        box-shadow: inset 0 0 4px $white;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $primary;
        outline: 1px solid $primary;
        transition: background-color 0.4s ease;
      }
    }

    &__item,
    &>li {
      pointer-events: none;

      // position: relative;
      @include d(767) {
        position: relative;
      }
    }

    &__link,
    &>a {
      font-size: 35px;
      line-height: 1.5em;

      @include d(1199) {
        font-size: 28px;
      }

      @include d(767) {
        font-size: 18px;
      }

      &.active {
        color: $primary;
      }
    }
  }

  &-sublist {
    position: absolute;
    top: 0;
    left: calc(100% + 100px);
    column-count: 2;
    column-gap: 40px;
    font-family: $fontPrimary;
    font-size: 16px;
    font-weight: 400;
    width: 800px;
    transition: opacity linear $hover-duration;
    opacity: 0;
    pointer-events: none;

    @include d(1400) {
      width: 740px;
    }

    @include d(1199) {
      left: calc(100% + 40px);
      width: 580px;
    }

    @include d(991) {
      column-count: 1;
      left: calc(100% + 60px);
    }

    @include d(767) {
      left: 0;
      position: relative;
      font-size: 12px;
      padding-left: 20px;
      height: 0;
      overflow: hidden;
      background-color: $white;
    }

    &.active {
      opacity: 1;
      pointer-events: initial;

      .nav-sublist__item {
        // pointer-events: initial;
      }

      @include d(767) {
        height: auto;
      }
    }

    &__item,
    & li {
      margin-bottom: 15px;
      text-transform: uppercase;
      pointer-events: none;

      @include d(767) {
        margin-bottom: 3px;
      }
    }
  }
}

.header-phone {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: none;
  font-size: 24px;
  background-color: $white;
  color: $primary;
  font-family: $fontHeading;
  text-align: center;
  padding: 5px 15px;
  z-index: 999999;
  border-top: 1px solid $primary;
  @include d(767) {
    display: block;
  }
}