// header styles
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: $white;
  z-index: 10;
  font-family: $fontHeading;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0 14px 0;
    border-bottom: 1px solid rgba($white, .4);
  }

  &-contact {
    font-size: 20px;
    line-height: 1.2em;

    p,
    a {
      line-height: 1.2em;
    }
  }
}

.logo {
  max-width: 430px;
}

.menu {
  &-btn {
    font-size: 18px;
    line-height: 1.22em;
    color: $white;
    background-color: transparent;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
  }
}