// project main styles
html {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: $fontPrimary;
  color: $textColor;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  backface-visibility: hidden;
  text-rendering: geometricPrecision;

  //style default scrollbar
  &::-webkit-scrollbar {
    width: 6px;
    background-color: $textColor;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px $textColor;
    box-shadow: inset 0 0 4px $textColor;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary;
    outline: 1px solid $primary;
    transition: background-color 0.4s ease;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 600;
  font-family: $fontHeading;

  span {
    color: $primary;
  }
}

h1,
h2 {
  font-size: 60px;
  line-height: 0.96em;
  text-transform: uppercase;

  @include d(1199) {
    font-size: 48px;
  }

  @include d(991) {
    font-size: 40px;
  }
}

h1 {
  margin-bottom: 13px;
}

h3 {
  font-size: 44px;
  line-height: 1.13em;

  @include d(1199) {
    font-size: 40px;
  }

  @include d(991) {
    font-size: 32px;
  }
}

h4 {
  font-size: 25px;
  line-height: 1.16em;
  text-transform: uppercase;

  @include d(1199) {
    font-size: 22px;
  }

  @include d(991) {
    font-size: 18;
  }
}

h5 {
  font-size: 20px;
  line-height: 1.2em;

  @include d(1199) {
    font-size: 18px;
  }

  @include d(991) {
    font-size: 16px;
  }
}


.title-1 {
  @extend h1;
}

.title-2 {
  @extend h2;
}

.title-3 {
  @extend h3;
}

.title-4 {
  @extend h4;
}

.title-5 {
  @extend h5;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  line-height: 1.6em;
  margin: 0;
}

b,
strong {
  font-size: inherit;
}

img,
picture,
source {
  width: 100%;
  display: block;
}

label {
  cursor: pointer;
}

// hide custom arrows
select {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

select::-ms-expand {
  display: none;
}

p,
li,
b,
strong {
  line-height: 1.714em;
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

blockquote,
figure {
  margin: 0;
}

button {
  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

// hide date navigation in input
input[type="date"] {
  display: block;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button {
    display: none;
  }

  &::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: relative;
    right: -10px;
  }

  &::-webkit-inner-spin-button,
  &::-webkit-calendar-picker-indicator {
    opacity: 0;
    -webkit-appearance: none;
  }
}

// hide arrows in input type number
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

textarea,
input {
  color: $textColor;
  width: 100%;
  border: none;
  transition: border-color $timing $hover-duration,
    color $timing $hover-duration;

  &:focus {
    outline: none;
    border-color: $black;
  }

  &::-webkit-input-placeholder {
    font-family: inherit;
    font-size: 16px;
    color: $textColor;
  }

  &::-moz-placeholder {
    font-family: inherit;
    font-size: 16px;
    color: $black;
  }

  &:-ms-input-placeholder {
    font-family: inherit;
    font-size: 16px;
    color: $black;
  }

  &::placeholder {
    font-family: inherit;
    font-size: 16px;
    color: $black;
  }
}

textarea {
  resize: none;
  outline: none;
  line-height: 1.2em;
  height: 100%;
}

.main-wrapper {
  position: relative;
  overflow: hidden;
  opacity: 1;
  transition: opacity $duration $timing;
}

.container {
  @include d(991) {
    max-width: 100%;
  }
}

.btn {
  display: inline-block;
  font-size: 14px;
  line-height: 1.14em;
  font-weight: 500;
  background-color: $primary;
  border: 1px solid transparent;
  text-align: center;
  text-transform: uppercase;
  padding: 18px 20px;
  color: $white;
  min-width: 238px;
  white-space: nowrap;
  transition: border-color $hover-duration $timing, background-color $hover-duration $timing, color $hover-duration $timing;

  @include rh(1024) {
    &:hover {
      background-color: $primaryDark;
    }
  }

  &_black {
    background-color: $black;

    @include rh(1024) {
      &:hover {
        background-color: transparent;
        color: $black;
        border-color: $black;
      }
    }
  }
}

.section {
  &__title {
    position: relative;
    margin-bottom: 67px;
    display: inline-block;

    @include d(1199) {
      margin-bottom: 20px;
    }

    &::before {
      content: attr(data-title);
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      font-size: 150px;
      line-height: .39em;
      font-family: $fontHeading;
      color: transparent;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $black;
      text-transform: uppercase;
      opacity: .2;
      white-space: nowrap;

      @include d(1199) {
        font-size: 110px;
      }

      @include d(991) {
        font-size: 90px;
      }

      @include d(767) {
        font-size: 76px;
      }

      @include d(575) {
        font-size: 54px;
        top: 40%;
      }
    }
  }

  &__content {
    p {
      margin-bottom: 25px;

      span {
        color: $primary;
      }
    }

    ul {
      font-family: $fontHeading;
      font-weight: 700;
      margin: 40px 0 22px 0;
      font-size: 20px;

      li {
        padding-left: 19px;
        position: relative;
        line-height: 1.2em;

        &:not(:last-child) {
          margin-bottom: 25px;
        }

        &::before {
          content: "";
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background-color: $primary;
          position: absolute;
          top: 8px;
          left: 0;
        }
      }
    }
  }

  &__box {
    margin-bottom: 70px;

    @include d(1199) {
      margin-bottom: 40px;
    }

    ul {
      margin-left: 30px;
      font-family: $fontPrimary;
      font-size: 14px;
      font-weight: 400;


      li {
        &:before {
          top: 5px;
          width: 5px;
          height: 5px;
        }

        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }
  }
}

.more-link {
  position: relative;
  display: inline-block;
  font-family: $fontHeading;
  font-size: 16px;
  line-height: 1em;
  color: $primary;
  padding-right: 40px;

  &:before {
    content: "";
    width: 27px;
    height: 18px;
    background-image: url(../img/svg/arrow-right.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    transition: transform $hover-duration $timing;
  }

  @include d(767) {
    font-size: 18px;
  }

  @include rh(1024) {
    &:hover {
      &::before {
        transform: translate(10px, 0);
      }
    }
  }
}

.ranking {
  display: flex;
  align-items: center;

  &__item {
    &:not(:last-child) {
      margin-right: 4px;
    }
  }
}

.square-link {
  width: 61px;
  height: 61px;
  border: 1px solid $primary;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -1px;
  right: -1px;
  background-color: $white;
  transition: background-color $hover-duration $timing;

  &:hover {
    background-color: $primary;

    .svg-arrow_right {
      fill: $white;
    }
  }
}

.round-words {
  text-transform: uppercase;
  font-family: $fontHeading;
  color: $black;
  font-size: 18px;
  position: absolute;
  bottom: 0;
  right: 8%;
  animation: rotated 60s infinite linear;
  white-space: nowrap;
  font-weight: 500;

  @include d(575) {
    display: none;
  }

  p {
    span {
      position: absolute;
      -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
      transform-origin: top left;
    }
  }
}

.hero-inner {
  padding-top: 88px;
  color: $white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(#131314, .4);
  }

  &__title {
    margin-top: 260px;
    margin-bottom: 330px;
    margin: 260px 0 316px 0;

    @include d(1199) {
      margin: 140px 0 200px 0;
    }

    @include d(991) {
      margin: 100px 0;
    }

    &::before {
      -webkit-text-stroke-color: $white;
    }
  }
}

.content {
  position: relative;
  background-color: $white;
  padding: 80px 0 100px 0;
  margin-top: -194px;

  @include d(1199) {
    padding: 60px 0;
    margin-top: -100px;
  }

  @include d(991) {
    margin-top: 0;
  }

  @include d(768) {
    padding: 20px 0;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: $white;
    top: 0;
    height: 195px;
  }

  &::before {
    right: 100%;
    width: 50vw;
  }

  &::after {
    left: 100%;
    width: 304px;

    @include m(1921) {
      display: none;
    }
  }

  &_top {
    margin-bottom: 110px;

    @include d(1199) {
      margin-bottom: 60px;
    }

    @include d(767) {
      margin-bottom: 40px;
    }
  }

  b {
    margin-bottom: 30px;
    display: inline-block;
  }

  &__title {
    margin-bottom: 33px;
  }

  &_double {
    column-count: 2;
    column-gap: 80px;
    margin-right: -300px;

    @include d(991) {
      column-gap: 40px;
      margin-right: 0;
    }

    @include d(767) {
      column-count: 1;
    }

    p,
    b {
      margin-bottom: 20px;
      display: inline-block;
    }
  }
}

.article-pane {
  background-color: $primary;
  color: $white;
  max-width: 720px;
  margin: 90px 0 70px 0;
  padding: 54px 135px 40px 55px;

  @include d(1199) {
    padding: 30px 30px 20px 25px;

  }

  .title-3,
  & h3 {
    margin-bottom: 10px;
  }

  ul {
    font-family: $fontPrimary;
    font-weight: 400;
    font-size: 14px;
    margin: 30px 0 30px 0;

    li {
      padding-left: 0;

      &:before {
        display: none;
      }

      &:not(:last-child) {
        margin-bottom: 8px;
      }

      a {
        text-decoration: underline;
      }
    }
  }
}

.main-content {
  position: relative;
}

input[type='checkbox'] {
  width: 0;
  height: 0;

  &:checked {
    &~.custom-checkbox::before {
      opacity: 1;
    }
  }
}

.custom-checkbox {
  display: block;
  width: 22px;
  flex: 0 0 22px;
  height: 22px;
  border: 1px solid $black;
  position: relative;
  margin-right: 15px;

  &::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: $primary;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: $hover-duration $timing;
  }
}