.hero {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 88px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $overlay;
  }

  &-decor {

    font-size: 350px;
    position: absolute;
    top: 45%;
    right: 40px;
    transform: translate(0, -50%);
    -webkit-text-stroke-color: $white;

    @include d(1199) {
      font-size: 250px;
    }

    @include d(991) {
      font-size: 200px;
    }

    span {
      font-size: 300px;
      -webkit-text-fill-color: $white;
      -webkit-text-stroke-width: 0;
      -webkit-text-stroke-color: $white;

      @include d(1199) {
        font-size: 200px;
      }

      @include d(991) {
        font-size: 150px;
      }
    }
  }

  &-footer {

    &__wrapper {
      display: flex;
      background-color: $white;
      padding: 50px 0;
      max-width: 1055px;
      position: relative;

      @include d(1199) {
        padding: 30px 0;
      }

      @include d(768) {
        flex-wrap: wrap;
      }

      &::before,
      &:after {
        content: "";
        width: 50vw;
        height: 100%;
        background-color: $white;
        position: absolute;
        top: 0;
        right: 100%;
      }

      &::after {
        left: 100%;
        display: none;

        @include d(768) {
          display: block;
        }
      }
    }

    &__title {
      padding-right: 34px;
      border-right: 1px solid $black;
      color: $primary;
      max-width: 260px;

      @include d(1199) {
        padding-right: 15px;
      }

      @include d(768) {
        max-width: 100%;
        border: none;
        padding-right: 0;
        margin-bottom: 20px;
      }
    }

    &__content {
      padding: 0 70px 0 40px;
      width: calc(100% - 260px);

      @include d(1199) {
        padding: 0 30px 0 30px;
      }

      @include d(768) {
        padding: 0;
        width: 100%;
      }
    }

    &__subtitle {
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 8px;
    }

    &__row {
      display: flex;
      justify-content: space-between;
      margin: 0 -15px;
      flex-wrap: wrap;
    }

    &__box {
      max-width: 230px;
      padding: 0 15px;
      font-size: 12px;
      font-weight: 500;

      @include d(768) {
        max-width: 33.333%;
      }

      @include d(480) {
        max-width: 100%;
        margin-bottom: 20px;
      }

      span {
        color: $primary;
      }

      .title-5,
      h5 {
        color: $primary;
      }

      p {
        line-height: 1.66em;
      }
    }
  }
}

.decor {
  position: absolute;
  font-family: $fontHeading;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  line-height: .63em;
  white-space: nowrap;
  letter-spacing: -.24em;
  opacity: .2;
}

.site-title {
  padding: 183px 0 224px;
  max-width: 670px;
  color: $white;

  @include d(1199) {
    max-width: 100%;
    padding: 120px 0 180px;
  }

  p {
    max-width: 560px;
    margin-bottom: 27px;
  }
}

.about {
  padding: 175px 0 40px 0;

  @include d(1199) {
    padding: 120px 0 40px 0;
  }

  @include d(991) {
    padding: 60px 0 40px 0;
  }

  &__img {
    margin-right: 35px;

    @include d(1199) {
      margin-right: 0;
    }
  }

  &__content {
    padding: 54px 40px 30px 0;

    @include d(1199) {
      padding: 30px 0 0 0;
    }
  }

  &__title {
    margin-left: -190px;

    @include d(1199) {
      margin-left: -140px;
    }

    @include d(991) {
      margin-left: 0;
    }
  }
}

.partners {
  padding: 20px 0 200px 0;

  @include d(1199) {
    padding: 20px 0 140px;
  }

  @include d(768) {
    padding: 20px 0 40px;
  }

  &__slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -30px;
    min-width: 0;

    @include d(991) {
      display: block;
    }

    .slick-list {
      overflow: visible;
    }
  }

  &__item {
    width: 135px;
    width: 100%;
    margin: 0 30px;
    position: relative;
    height: 80px;
    outline: none;

    @include rh(1024) {
      &:hover {
        .partners__content {
          opacity: 1;
          pointer-events: initial;
        }
      }
    }

  }

  &__img {
    position: relative;
    height: 80px;

    img,
    picture {
      width: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__content {
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    top: 50%;
    left: -100%;
    width: 296px;
    border: 1px solid $primary;
    padding: 26px;
    opacity: 0;
    background-color: $white;
    pointer-events: none;
    z-index: 1;
    transition: opacity $hover-duration $timing;

    @include d(1199) {
      left: -150%;
    }

    @include d(768) {
      display: none;
    }

    p {
      line-height: 1.6em;
    }
  }
}

.criminal {
  padding: 30px 0 133px 0;
  position: relative;

  @include d(991) {
    padding: 30px 0 80px 0;
  }

  @include d(768) {
    padding: 20px 0 40px 0;
  }

  &__wrapper {
    position: relative;
  }

  &__content {
    padding-top: 50px;

    @include d(767) {
      padding-top: 30px;
    }

    p {
      column-count: 2;
      column-gap: 80px;

      @include d(768) {
        column-count: 1;
        margin-bottom: 20px;
      }
    }
  }

  &__title {
    white-space: normal;
    margin-bottom: 40px;

    .title-2,
    & h2 {
      text-transform: none;

      span {
        color: $primary;
      }
    }
  }

  &__img {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 720px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .2;

    @include d(767) {
      width: calc(100% + 30px);
      right: -15px;
    }
  }
}

.testimonials {
  padding-bottom: 40px;
  position: relative;

  &__wrapper {
    position: relative;
    padding-top: 40px;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 540px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;

    @include d(1199) {
      filter: grayscale(1);
      opacity: .2;
    }
  }

  &__title {
    text-align: center;
    margin: 0 0 55px 70px;

    @include d(1199) {
      margin: 0 0 30px 0;
    }
  }
}

.testimonials-slider {
  .slick-dots {
    display: none !important;
  }

  &__wrapper {
    margin-left: 60px;

    @include d(991) {
      margin-left: 0;
    }
  }

  &__title {
    margin-bottom: 15px;
  }

  &__item {
    padding: 0 60px;
  }

  &__name {
    color: $primary;
    font-family: $fontHeading;
    font-size: 20px;
    line-height: 1.2em;
  }

  &__content {
    position: relative;

    &::before,
    &::after {
      position: absolute;
      font-size: 100px;
      color: $primary;
      font-family: $fontHeading;
      line-height: .5em;
    }

    &::before {
      content: " “ ";
      top: 10px;
      left: -60px;
    }

    &::after {
      content: " ” ";
      top: 100%;
      right: -20px;
    }

    p {
      font-size: 16px;
      line-height: 1.8em;
      margin-bottom: 30px;

      @include d(1199) {
        font-size: 14px;
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: -10px;
  }

  &__btn {

    .svg-arrow_left,
    .svg-arrow_right {
      fill: $black;
    }

    @include rh(1024) {
      &:hover {

        .svg-arrow_left,
        .svg-arrow_right {
          fill: $primary;
        }
      }
    }
  }
}

.slider {
  &__nav {
    height: 80px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include d(575) {
      height: 60px;
      width: 170px;
    }
  }

  &__btn {
    font-size: 20px;
    border: none;
    background-color: transparent;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    &_prev {

      @include rh(1024) {
        &:hover {
          .svg-arrow_left {
            left: -10px;
          }
        }
      }
    }

    &_next {
      @include rh(1024) {
        &:hover {
          .svg-arrow_right {
            right: -10px;
          }
        }
      }
    }
  }

  &__details {
    margin: 0 10px;
    font-family: $fontHeading;
    font-size: 20px;

    @include d(575) {
      font-size: 16px;
    }
  }

  &__number {
    color: $primary;
  }
}

.press {
  padding: 55px 0 152px 0;

  @include d(1199) {
    padding: 20px 0 100px 0;
  }

  .title-5,
  h5 {
    color: $primary;
    margin-bottom: 30px;
  }

  &-slider {
    display: flex;
    margin: 20px -20px;

    @include d(991) {
      display: block;
    }

    &__item {
      height: 64px;
      width: 10%;
      margin: 0 20px;
      position: relative;
      filter: grayscale(1);
      opacity: .8;

      img,
      picture {
        width: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

}

.practice {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 110px 0 0 0;
  color: $white;
  position: relative;

  @include d(1199) {
    padding: 70px 0 0 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $black;
    opacity: .7;
  }

  &__title {
    margin-left: 60px;

    @include d(991) {
      margin-left: 0;
    }

    &::before {
      -webkit-text-stroke-color: $white;
      left: -80px;

      @include d(991) {
        left: 0;
      }
    }
  }
}

.practice-slider {
  .slick-dots {
    display: none !important;
  }

  .slick-list {
    overflow: visible;
  }

  &__wrapper {
    padding-top: 30px;
    padding-bottom: 85px;
  }

  &__item {
    display: flex;
    justify-content: space-between;

    @include d(575) {
      flex-wrap: wrap;
    }
  }

  &__box {
    max-width: 20%;
    padding: 20px 10px 200px 10px;
    width: 100%;
    position: relative;

    @include d(1199) {
      padding-bottom: 120px;
    }

    @include d(575) {
      max-width: 50%;
    }

    @include rh(768) {
      &:hover {
        .practice-slider__details {
          opacity: 1;
          pointer-events: initial;
        }
      }
    }

    @include rh(768) {
      &:hover {
        .svg-icon {
          fill: $primary;
        }

        .practice-slider__title {
          color: $primary;
        }
      }
    }
  }

  &__icon {
    max-width: 50px;
    margin: 0 auto 25px auto;
    position: relative;
    display: block;
    z-index: 1;
  }

  &__title {
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    transition: color $hover-duration $timing;
    position: relative;
    z-index: 1;
  }

  &__details {
    border: 1px solid $primary;
    font-size: 12px;
    background-color: $white;
    position: absolute;
    text-align: center;
    color: $black;
    padding: 160px 40px 100px 40px;
    width: 300px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    pointer-events: none;
    transition: opacity $hover-duration $timing;

    @include d(1199) {
      padding: 160px 20px 60px 20px;
    }

    @include d(768) {
      display: none;
    }

    p {
      line-height: 1.6em;
      font-weight: 500;
    }
  }

  &__nav {
    background-color: $primary;
    color: $white;
    position: absolute;
    right: 0;
    bottom: 0;

    .slider__number {
      color: $white;
    }

    .svg-arrow_right,
    .svg-arrow_left {
      fill: $white;
    }
  }
}

.cases {
  padding-top: 155px;
  color: $white;
  overflow: hidden;
  position: relative;

  @include d(1199) {
    padding-top: 100px;
  }

  &__wrapper {
    padding: 0 0 160px 0;
  }

  &__content {
    margin-left: 175px;
    max-width: 640px;
    padding: 105px 0 0 90px;
    position: relative;
    z-index: 1;

    @include d(991) {
      padding: 60px 0 0 60px;
    }

    @include d(768) {
      margin-left: -15px;
      padding: 40px 20px 20px 20px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100vw;
      height: 100vh;
      background-color: $primary;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }

  &__title {
    margin-bottom: 40px;

    &::before {
      -webkit-text-stroke-color: $white;
      left: -80px;

      @include d(768) {
        left: 0;
      }
    }
  }
}

.cases-slider {
  display: flex;
  position: relative;
  z-index: 1;

  .slick-dots {
    display: none !important;
  }

  &__wrapper {
    padding-top: 45px;

    @include d(768) {
      padding-top: 20px;
    }
  }

  &__img {
    flex: 0 0 274px;

    @include d(1199) {
      flex: 0 0 180px;
    }

    @include d(991) {
      flex: 0 0 25%;
    }

    @include d(575) {
      flex: 0 0 auto;
      width: 100%;
      max-height: 320px;
    }

    img,
    picture {
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__content {
    padding: 60px 40px 10px 20px;
    background-color: $white;
    position: relative;

    @include d(1199) {
      padding: 20px 20px 10px 20px;
    }

    .more-link {
      position: absolute;
      bottom: 20px;
      right: 20px;
    }

    .title-5,
    & h2 {
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 30px;
      font-size: 12px;
      line-height: 1.6em;
    }
  }

  &__item {
    display: flex;
    color: $black;
    padding-right: 60px;

    @include d(991) {
      padding-right: 0;
    }

    @include d(575) {
      flex-wrap: wrap;
      padding: 0 5px;
    }
  }

  &__nav {
    background-color: $white;
    color: $primary;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
  }
}

.team {
  padding: 195px 0 145px 0;
  overflow: hidden;
  position: relative;

  @include d(1199) {
    padding: 100px 0;
  }

  &__bg {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(1);
    opacity: .12;
    height: 826px;

    @include d(1199) {
      height: 1px;
      padding-bottom: 50%;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 60px;
  }

  &__container {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;
    position: relative;

    @include d(199) {
      margin: 0 -15px;
    }
  }

  &__item {
    padding: 0 30px;
    max-width: 33.333%;
    flex: 0 0 33.333%;
    margin-bottom: 60px;

    @include d(1199) {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 0 15px;
    }

    @include d(575) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  &__card {
    position: relative;
    max-width: 360px;
    width: 100%;
    background-color: $white;

    @include d(1199) {
      margin: 0 auto;
    }
  }

  &__img {
    height: 360px;
    width: 100%;
  }

  &__description {
    background-color: $white;
    width: 240px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px 20px 10px 25px;

    @include rh(1024) {
      &:hover {
        .more-link {
          &::before {
            transform: translate(10px, 0);
          }
        }
      }
    }

    .title-5,
    & h5 {
      line-height: 1em;
      margin-bottom: 5px;
    }

    p {
      font-size: 12px;
      color: $primary;
    }

    .more-link {
      position: absolute;
      bottom: 25px;
      right: 10px;
    }
  }
}

.blog {
  padding: 195px 0 20px 0;
  position: relative;

  @include d(1199) {
    padding: 100px 0 20px 0;
  }

  &__title {
    text-align: center;

    .section__title {
      margin-left: -200px;
      margin-bottom: 110px;

      @include d(991) {
        margin-left: 0;
        margin-bottom: 50px;
      }
    }
  }

  &__slider {
    display: flex;
    margin: 0 -30px;

    .slick-dots {
      display: none !important;
    }
  }

  &__content {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__item {
    padding: 0 30px;
    padding-top: 30px;
  }

  &__card {
    @include rh(1024) {
      &:hover {
        .blog__img {
          &::before {
            top: -20px;
            left: -20px;
          }
        }

        .more-link {
          opacity: 1;
          pointer-events: initial;
        }
      }
    }

    p {
      margin-bottom: 15px;
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    left: 0;
    opacity: .12;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__img {
    height: 360px;
    margin-bottom: 22px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: $primary;
      z-index: -1;
      transition: top $hover-duration $timing, left $hover-duration $timing;
    }

    img,
    picture {
      height: 100%;
    }

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  &__subtitle {
    max-width: 270px;

    .title-5,
    & h5 {
      margin-bottom: 10px;
    }

    .more-link {
      opacity: 0;
      pointer-events: none;
      transition: opacity $hover-duration $timing;
    }
  }

  &__slider {
    margin-bottom: 60px;

    @include d(991) {
      margin-bottom: 20px;
    }
  }

  &-slider__nav {
    margin: 0 auto;
  }
}