<!-- header start -->
<header class="header">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="header__row">
          <nav class="nav" id="nav">
            <div class="container">
              <div class="row">
                <div class="col">
                  <ul class="nav-list">
                    <li class="nav-list__item">
                      <a href="#" class="nav-list__link">Homepage</a>
                    </li>
                    <li class="nav-list__item">
                      <a href="#" class="nav-list__link">Practice Areas Category</a>
                    </li>
                    <li class="nav-list__item">
                      <a href="#" class="nav-list__link">Crime specific page template</a>
                      <ul class="nav-sublist">
                        <li class="nav-sublist__item">
                          <a href="#">DUI / Drunk Driving</a>
                        </li>
                        <li class="nav-sublist__item">
                          <a href="#">First DUI</a>
                        </li>
                        <li class="nav-sublist__item">
                          <a href="#">Second DUI</a>
                        </li>
                        <li class="nav-sublist__item">
                          <a href="#">Marijuana DUI</a>
                        </li>
                        <li class="nav-sublist__item">
                          <a href="#">Domestic Violence</a>
                        </li>
                        <li class="nav-sublist__item">
                          <a href="#">Drug Offenses</a>
                        </li>
                        <li class="nav-sublist__item">
                          <a href="#">Drug Possession</a>
                        </li>
                        <li class="nav-sublist__item">
                          <a href="#">Drug Trafficking</a>
                        </li>
                        <li class="nav-sublist__item">
                          <a href="#">Violent Crimes</a>
                        </li>
                        <li class="nav-sublist__item">
                          <a href="#">Assault / Aggravated Assault</a>
                        </li>
                        <li class="nav-sublist__item">
                          <a href="#">Battery / Aggravated Battery</a>
                        </li>
                        <li class="nav-sublist__item">
                          <a href="#">Theft & Property Crimes</a>
                        </li>
                        <li class="nav-sublist__item">
                          <a href="#">Sexual Offenses</a>
                        </li>
                        <li class="nav-sublist__item">
                          <a href="#">Sexual Battery</a>
                        </li>
                        <li class="nav-sublist__item">
                          <a href="#">Statutory Rape</a>
                        </li>
                        <li class="nav-sublist__item">
                          <a href="#">Child Pornography</a>
                        </li>
                        <li class="nav-sublist__item">
                          <a href="#">Prostitution</a>
                        </li>
                        <li class="nav-sublist__item">
                          <a href="#">Weapons & Firearms</a>
                        </li>
                        <li class="nav-sublist__item">
                          <a href="#">Federal Crimes</a>
                        </li>
                      </ul>
                    </li>
                    <li class="nav-list__item">
                      <a href="#" class="nav-list__link">Case Results</a>
                    </li>
                    <li class="nav-list__item">
                      <a href="#" class="nav-list__link">Our Firm</a>
                    </li>
                    <li class="nav-list__item">
                      <a href="#" class="nav-list__link">Testimonials</a>
                    </li>
                    <li class="nav-list__item">
                      <a href="#" class="nav-list__link">Contact Us</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

          </nav>
          <button class="menu-btn" id="menuBtn">Menu</button>
          <a href="/" class="logo">
            <img src="img/logo.png" alt="Meltzer & Bell">
          </a>
          <div class="header-contact">
            <a href="tel:(754) 755-8554">(754) 755-8554</a>
            <p>Partners on Call 24/7</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- header end -->